    body {
      margin: 0;
      padding: 0;
      background: #ccc;
    }

.header{
	background-color: #11181e;
}

.my-portfolio h1{
	color: white;
}

.my-portfolio p{
	color:#b2b2b2;
}

.nav{
	width: 600px;
	margin: 0 auto;
	text-align: center;
}

.nav ul{
	list-style: none;
}

.nav li{
	float: left;
	width: 25%;
}
