    body {
      margin: 0;
      padding: 0;
      background: #ccc;
    }


.header{
	background-color: #11181e;
	box-shadow: 0 20px 0 0 #0f141a inset, 0 -20px 0 0 #0f141a inset;
}

.my-portfolio h1{
	color: white;
}

.my-portfolio p{
	color:#b2b2b2;
}

.nav{

	width: 500px;
	margin: 0 auto;
	text-align: center;
}

.nav ul{
	list-style: none;
	padding: 0;
}

.nav li{
	float: left;
	width: 25%;
}

.nav a{
	color: #ededed;
	text-decoration: none;
	text-shadow: 1px 1px #545454;
}

.ribbon {

		 width: 50%;
		    
		 position: relative;
		 background: #67a735;
		 color: #fff;
		 text-align: center;
		 padding: 1em 2em; /* Adjust to suit */
		 margin: 2em auto 3em; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
		}
		.ribbon:before, .ribbon:after {
		 content: "";
		 position: absolute;
		 display: block;
		 bottom: -1em;
		 border: 1.5em solid #57932f;
		 z-index: -1;
		}
		.ribbon:before {
		 left: -2em;
		 border-right-width: 1.5em;
		 border-left-color: transparent;
		}
		.ribbon:after {
		 right: -2em;
		 border-left-width: 1.5em;
		 border-right-color: transparent;
		}
		.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
		 content: "";
		 position: absolute;
		 display: block;
		 border-style: solid;
		 border-color: #804f7c transparent transparent transparent;
		 bottom: -1em;
		}
		.ribbon .ribbon-content:before {
		 left: 0;
		 border-width: 1em 0 0 1em;
		}
		.ribbon .ribbon-content:after {
		 right: 0;
		 border-width: 1em 1em 0 0;
		}

.portfolio {
	width: 1200px;
	height: 500px;
	border: 1px solid black;
	margin: 0 auto;
}

.portfolio img{
	margin: auto 10px;
}

/** grid for portfolio **/

.grid {
	position: relative;
	margin: 0 auto;
	padding: 1em 0 4em;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 320px;
	max-width: 480px;
	max-height: 360px;
	width: 48%;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/*---------------*/
/***** Ruby *****/
/*---------------*/

figure.effect-ruby {
	background-color: #17819c;
}

figure.effect-ruby img {
	opacity: 0.7;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
}

figure.effect-ruby:hover img {
	opacity: 0.5;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-ruby h2 {
	margin-top: 20%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

figure.effect-ruby p {
	margin: 1em 0 0;
	padding: 3em;
	border: 1px solid #fff;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0) scale(1.1);
	transform: translate3d(0,20px,0) scale(1.1);
} 

figure.effect-ruby:hover h2 {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-ruby:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0) scale(1);
	transform: translate3d(0,0,0) scale(1);
}



